<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/login-publishing.css" />
    <script src="/js/login-publishing.js" defer></script>

    <title>Wooahan Agile</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container">
      <img class="up"src="images/동그라미.png" />
      <div class = "box">
        <h2 class="부제목">로그인</h2>
        <div class="id">
          <img class="proid" src="images/아이디.jpg" />
          <input type = "text" class = "설명" size="50" placeholder="학번을 입력해 주세요.">
        </div>
        <div class="pw">
          <img class="propw" src="images/비밀번호.jpg" />
          <input type = "password" class = "설명" size= "50"placeholder="비밀번호를 입력해 주세요">
        </div>
        <div class="item">
          <button class="형광">로그인</button>
        </div>
        <div class="cb">
          <input id = "check" type="checkbox" class="check">
          <label for="check">
            <a class = "설명">로그인 상태로 유지</a>
          </label>
        </div>
        <div class="search">
          <a class="idSearch" href=#>아이디 찾기</a> 
          <a class="pwSearch" href=#>비밀번호 찾기</a>
        </div>
        <div class="naverLo">
          <img class="naver" src="images/네이버.png" />
          <div class="none"></div>
          <a class ="로그인설명" href=#>네이버 아이디로 로그인</a>
        </div>
        <div class="마지막줄">
          <b>아직 계정이 없으신가요? <a class = "가입" href="#">회원가입</b>
        </div>
      </div>
    </div>
  </body>
</html>
