<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login-publishing.css" />
    <script src="/js/login-publishing.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Wooahan Agile</title>
  </head>
  <body>
    <div id = "logoBox">
      <img src = "/images/동그라미.png" id = "logo">
    </div>
    <div id = "logInBox">
      <div id ="logInText">
        <span>로그인</span>
        <div id = "idBox">
          <img src = "images\아이디.jpg" id = "idLogo">
          <input type="number" id="id" placeholder="학번을 입력해 주세요.">
        </div>
        <div id = "passwordBox">
          <img src = "images\비밀번호.jpg" id = "passwordLogo">
          <input type="password" id="password" placeholder="비밀번호를 입력해 주세요.">
        </div>
      <button id = "logInButton">
        <span id = "buttonText">로그인</span>
      </button>
      </div>
      <div id = "loggInMaintainDIV">
        <label for = "loggInMaintainBox">
          <input type = "checkbox" id = "logInMaintainBox">
          <span id = "logInMaintainText">로그인 상태 유지</span>
        </label>
      </div>
      <div id = "findInfo">
        <span id = "findId">아이디 찾기</span>
        <span id = "findPassword">비밀번호 찾기</span>
      </div>
      <div id = "naverLogBox">
        <img src = "images\네이버로고.png" id = "naverLog">
        <span id = "naverIdLogIn">네이버 아이디로 로그인</span>
      </div>
      <div id = "signUpBox">
        <span>아직 계정이 없으신가요?</span>
        <a id = "signUp">회원가입</a>
      </div>      
    </div>
    
    
    <script>
            
    </script>
  </body>
</html>
