.title {
    color :black;
    text-align: center;
}
.Box {
    color:#90E2D6;
    border:1px solid; 
    padding:10px; 
    margin-left: 570px; 
    margin-right: 570px;
    border-radius: 16px;
}    

.logo {
    width:230.15px; 
    height:100px; 
    display: block; 
    margin: 110px 
    auto;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    border-bottom : 1px solid #c4c4c4;
}
.input-design {
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
}

.icon {
    width:24px;
    height:24px;
}
.ipfind { 
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin: 0px auto;
}
.ipcenter {
    color: #c4c4c4;
}
.naver {
    width:24px;
    height:24px;
}

.naver-login {
    color:#c4c4c4;
    border:1px solid; 
    padding:3px; 
    margin-left:30px;
    margin-right:30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.right-border {
    
    color: #c4c4c4;
    height: 30px;
    width: 0px;
    margin: 0px;
    border-left:1px solid; 
}
.naver-font {
    font-size: 12px;
    margin-left: 20px;
}
.login-check {
    color: #c4c4c4;
    font-size: 12pt;
}
.no-id {
    display: flex;
    flex-direction: row;
    color: #c4c4c4;
    font-size: 5pt;
    column-gap: 10px;
}

#login-btn {
    
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #90E2D6;
    border: 0px;
    border-radius: 4px;
    color: aliceblue;
}
#login-btn:hover {
    background: #80cbc4;
}

